spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console

jwt:
  secret-key: UHJhZXNlbnQgYSBhdWd1ZSBlZ2V0IGxlbyBwcmV0aXVtIHBlbGxlbnRlc3F1ZS4gVmVzdGlidWx1bSBuZXF1ZSB1cm5hLCB2b2x1dHBhdCBzZWQgYXVndWUgdXQsIGx1Y3R1cyBibGFuZGl0IGV4LiBJbnRlZ2VyIGdyYXZpZGEgbW9sbGlzIG1pIGlkIGZpbmlidXMuCg==
  validity-term: 3600 # 1시간
